/* Estilos Gerais */

body{
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');
  font-family: 'Be Vietnam Pro', arial, verdana, sans-serif;
  background-color: #F5F8F6;
}
/* Header */
.header{
  position: fixed;
  top: 0;
  width: 100%;
  color: #303A33;
  padding: 35px 0;
}

.header_menu{
  text-align: right;
}
.header_menu ul li{
  display: inline-block;
  margin-left: 112px;
 
}
.header_menu ul li a{
  font-size: 28px;
  color: #303A33;
  padding: 20px 0;
}
.header_menu .red{
  color: #961B2A;
}

/* Introdução */